.dialog-button-survey {
    width: 64px !important;
    height: 30px;
    line-height: 26px;
    border-radius: 3px;
    background: #f1f5fd;
    border: 1px solid #b0c0e7;
    color: #2c4a93;
    cursor: pointer;
}

.logic-area {
    font-size: 14px;
    font-family: 微软雅黑;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #f6f9fe;
    z-index: 1003
}

.logic-area-title {
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    color: #2c4a93;
    background: #f1f5fd;
    border-bottom: 1px solid #b0c0e7
}

.logic-area-content {
    margin: 20px 40px;
    color: #666;
    height: 270px
}

.survey-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #aaa;
    z-index: 1002;
    top: 0;
    left: 0;
    opacity: .5;
    filter: alpha(opacity:50)
}

.button {
    width: 64px;
    height: 30px;
    border-radius: 3px;
    background: #f1f5fd;
    border: 1px solid #b0c0e7;
    color: #2c4a93;
    cursor: pointer
}

.button:hover {
    background: #f1f5fd;
    border: 1px solid #6583cc;
    color: #2c4a93
}

.button-confirm {
    background: #249cfa;
    border: 1px solid #249cfa;
    color: #fff;
    text-align: center
}

.button-confirm:hover {
    background: #48aefe;
    border: 1px solid #48aefe;
    color: #fff
}

.close {
    font-size: 18px;
    line-height: 40px !important;
    font-weight: 700;
    color: #666;
    float: right;
    padding-right: 16px;
    cursor: pointer
}

.logic-area-button {
    width: 500px;
    height: 30px;
    margin: 30px 0 40px 0;
    text-align: center
}

.logic-area-condition {
    font-size: 12px;
    width: 165px;
    height: 240px;
    float: left;
    border: 1px solid #b0c0e7;
    margin: 5px 5px 0 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 0 10px 0;
    overflow-y: auto;
    overflow-x: hidden
}

.logic-area-question {
    font-size: 13px;
    width: 230px;
    height: 240px;
    float: left;
    margin: 5px 0 0 0;
    border: 1px solid #b0c0e7;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 10px 0 10px 10px;
    overflow-y: auto;
    overflow-x: hidden
}

.logic-area-condition-title {
    padding: 0 0 0 10px
}

.condition-active {
    background-color: #dbdbdb
}

.condition-area {
    cursor: pointer
}

.logic-show-checkbox {
    margin-right: 5px !important
}

.logic-show-question label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 190px;
    display: block
}

.condition_element {
    padding: 0 0 0 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block
}

.survey-confirm {
    font-size: 14px;
    font-family: 微软雅黑;
    background: #fff;
    z-index: 1003
}

.survey-confirm-title {
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    color: #2c4a93;
    background: #f1f5fd;
    border-bottom: 1px solid #b0c0e7
}

.survey-confirm-content {
    margin: 40px 40px 20px 40px;
    text-align: center;
    color: #666
}

.survey-confirm-button {
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 40px;
    font-size: 0
}

.survey-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #aaa;
    z-index: 1002;
    top: 0;
    left: 0;
    opacity: .5;
    filter: alpha(opacity:50)
}

.survey-confirm .button {
    width: 64px;
    height: 30px;
    line-height: 26px;
    border-radius: 3px;
    background: #f1f5fd;
    border: 1px solid #b0c0e7;
    color: #2c4a93;
    cursor: pointer;
    font-size: 12px;
}

.survey-confirm .button:hover {
    background: #f1f5fd;
    border: 1px solid #6583cc;
    color: #2c4a93
}

.survey-confirm .button-confirm {
    background: #249cfa;
    border: 1px solid #249cfa;
    color: #fff;
    margin-right: 6px
}

.survey-confirm .button-confirm:hover {
    background: #48aefe;
    border: 1px solid #48aefe;
    color: #fff
}

.close {
    font-size: 18px;
    line-height: 40px !important;
    font-weight: 700;
    color: #666;
    float: right;
    padding-right: 16px;
    cursor: pointer
}

.survey-confirm-content span {
    vertical-align: text-bottom
}

.survey-content-text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 16px;
    max-width: 362px;
}

/*题目设置*/
.handle-dialog {
    margin: 15px;
    color: #666;
    min-height: 80px;
}

.handle-area {
    padding: 14px 16px 0;
}

.handle-area .min-checkbox, .handle-area .max-checkbox {
    margin: 0 5px;
    width: 40px;
}

.question-required {
    margin-right: 5px;
}